{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
{% endblock %}

{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="logo">
        <span>Blog Admin</span>
    </a>
{% endblock %}