body {
    min-height: 10rem;
    padding-top: 4.5rem;
}

#navbarCollapse {
    justify-content: space-between;
}

#navbarCollapse ul.right {
    margin-right: 0 !important;
}

.pointer {
    cursor: pointer;
}

.row {
    padding-bottom: 20px;
}

h1 {
    padding-bottom: 20px;
}

form > .row{
    display: none;
}

#dropdownMenuLink {
    background: transparent;
    color: #aaaaaa;
    border: none;
}

#dropdownMenuLink:hover {
    color: #cccccc;
}

.pagination span {
    color: black;
    font-weight: bold;
    padding: 4px;
}

.btn-secondary.focus, .btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(204,204,204,.5);
    box-shadow: 0 0 0 0 rgba(204,204,204,.5);
}

.dropdown-menu {
    border-color: black;
    border-width: 2px;
}